<%- partial('_partial/head') %>
<body>
Content moved to new location. If this page is not refreshed automatcially, click <a href="http://<%= config.new_domain %>/<%= page.path %>">here</a>.
</body>
</html>